*{box-sizing: border-box;}
body{
    margin: 0;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

.container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.column{
    width: 33.333333%;
    float: left;
    padding: 1em;
}
.progress{
    width: 100%;
    height: 200px;
    position: relative;
}
.progress .bar,
.progress .progress-bar{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.progress .bar{    
    width: 100%;
    height: 2px;
    background-color: #e6e6e6;
}


.progress .progress-bar{    
    background-color: #e23b3b;
    height: 4px;
    width: 20%;
}
.progress .progress-bar::after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #e23b3b;
    border-radius: 100%;
    
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.progress .progress-value{
    background-color: #e23b3b;
    color: white;
    padding: 5px 15px;
    border-radius: 4px;
    
    position: absolute;
    left: 20%;
    top: 25%;
    transform: translateX(-50%);
}
.progress .progress-value::after{
    content: '';
    display: block;
    color: #e23b3b;
    border-top: 4px solid ;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.progress .progress-value::before{
    content: "20%";
}
.progress .progress-lable{
    color: #e23b3b;
    position: absolute;
    left: 0;
    top: 75%
}
.progress .progress-lable i{
    margin-right: 10px;
}

/****.progress theme *******/
/****** typography **********/
.progress.typography .progress-bar,
.progress.typography .progress-bar::after,
.progress.typography .progress-value{
    background-color: #f18b6d;
}
.progress.typography .progress-value::after,
.progress.typography .progress-lable{
    color: #f18b6d;
}
.progress.typography .progress-bar{
    width: 60%;
}
.progress.typography .progress-value{
    left: 60%;
}
.progress.typography .progress-value::before{
    content: "60%";
}
/****** Design **********/
.progress.design .progress-bar,
.progress.design .progress-bar::after,
.progress.design .progress-value{
    background-color: #f1d204;
}
.progress.design .progress-value::after,
.progress.design .progress-lable{
    color: #f1d204;
}
.progress.design .progress-bar{
    width: 82%;
}
.progress.design .progress-value{
    left: 82%;
}
.progress.design .progress-value::before{
    content: "82%";
}

/****** Development **********/
.progress.development .progress-bar,
.progress.development .progress-bar::after,
.progress.development .progress-value{
    background-color: #6a4d8a;
}
.progress.development .progress-value::after,
.progress.development .progress-lable{
    color: #6a4d8a;
}
.progress.development .progress-bar{
    width: 86%;
}
.progress.development .progress-value{
    left: 86%;
}
.progress.development .progress-value::before{
    content: "86%";
}